.url-importer-container {
    display: grid;
}

.url-importer-container input {
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #555555;
    border-radius: 8px;
    padding: 8px;
}

.url-importer-container .url-input {
    margin-top: 24px;
    margin-bottom: 8px;
}

.url-importer-container .submit-button {
    margin-top: 8px;
    margin-bottom: 24px;
    width: fit-content;
    justify-self: center;
}